---
import { SITE } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import Profile from "@assets/stkim.jpg";
import Audify from "@assets/audify.png";
import Vaunce from "@assets/vaunce.png";
import Hr from "@components/Hr.astro";
import pethub from "@assets/videos/pet-hub.mp4";
import Confetti from "@components/visualization/confetti";
import confettiImage from "@assets/images/about/confetti.png";
import Signature from "@components/visualization/signature";
import AudioVisualizer from "@components/visualization/audio";
---

<Layout title={`about | ${SITE.title}`}>
  <Header activeNav="about" />
  <Breadcrumbs />
  <main id="main-content">
    <section id="about" class="prose mb-28 max-w-3xl prose-img:border-0">
      <h1>김성태</h1>
      <div class="flex flex-row justify-between">
        <img
          src={Profile.src}
          alt="St.kim"
          width={120}
          class="mr-2 rounded-xl"
        />
        <div class="flex w-full flex-col items-end">
          <h2 class="m-0 p-0">연락처</h2>
          <p class="m-0">sungtae1005@gmail.com</p>
          <p class="m-0">010-4066-2286</p>
          <a href="https://surplus-dev.com/">https://surplus-dev.com/</a>
        </div>
      </div>
      <Hr />
      <div>
        <h2 class="m-0">소개</h2>
        <p class="my-2">
          컴퓨터공학과를 졸업 후 독학으로 프론트엔드 개발을 공부해 온 주니어
          개발자입니다. 이후 웹 기반 서비스를 개발, 배포하고 운영한 경험을 통해
          실무 역량을 쌓고 있습니다. 편하게 읽을 수 있는 코드를 작성하려고 항상
          노력하며, 비효율적인 코드를 개선하는 것을 좋아합니다. 더 나아가,
          최적의 해결책을 찾기 위해 지속해서 학습하고 도전하는 자세를 갖추고
          있습니다. 앞으로도 꾸준히 성장하며, 더 나은 개발자가 되기 위해
          노력하겠습니다.
        </p>

        <p class="my-2">
          완벽을 추구하는 성격을 바탕으로, 최적의 UI/UX를 제공하기 위해 작은
          배치 하나도 놓치지 않고 각 요소의 배치와 상호작용을 고려하고
          있습니다.디테일에 집중하며, 항상 사용자 관점에서 편리하고 직관적인
          컴포넌트를 만들기 위해 노력합니다.
        </p>
        <ul>
          <li class="ml-6">React, TypeScript, Tailwind, Recoil</li>
        </ul>
      </div>
      <Hr />
      <div>
        <h2>경력</h2>
        <div>
          <h2 class="m-0">TechLabs (아이겐코리아)</h2>
          <h4 class="m-0">2023.08 ~ 재직 중</h4>
          <ul>
            <h4>자사 백오피스 유지보수</h4>
            <li class="ml-6">버그 수정</li>
            <li class="ml-6">신규 대시보드 페이지 구현</li>
            <h4>교보문고 CuBot 서비스 유지 보수 및 고도화</h4>
            <li class="ml-6">크로스 브라우징 호환성 개선 및 웹 접근성 향상</li>
            <a
              href="/posts/cross-browsing/#1-100vh에서-발생한-문제"
              class="m-0 my-2 ml-12 block w-fit"
            >
              dynamic viewport와 window.innerHeight를 통한 모바일 환경에서의
              호환성 개선
            </a>
            <a
              href="/posts/cross-browsing/#2-indexeddb가-초기화되는-문제점"
              class="m-0 my-2 ml-12 block w-fit"
            >
              Same-Site 환경에서 동일 주소의 Iframe 자원 접근시 브라우저별
              동작이 달라지는 문제점을 쿠키를 통해 해결
            </a>
            <a
              href="/posts/back-foward-cache/"
              class="m-0 my-2 ml-12 block w-fit"
            >
              Back/Forward Cache된 페이지 이동시에도 동일한 동작을 보장하도록
              개선
            </a>
            <li class="ml-6">리팩토링을 통한 고도화</li>
            <a
              href="/posts/bundler-migration/"
              class="m-0 my-2 ml-12 block w-fit"
            >
              번들러 마이그레이션 (webpack -> vite)
            </a>
            <a
              href="/posts/worst-practice-at-atomic-design-pattern/"
              class="m-0 my-2 ml-12 block w-fit"
            >
              구조 변경(Atomic Design -> Page Driven)을 통한 개선
            </a>
            <a
              href="/posts/load-script-advancement/"
              class="m-0 my-2 ml-12 block w-fit"
            >
              스크립트 삽입으로 인한 파싱 지연 현상 개선
            </a>
            <a
              href="/posts/build-monorepo-berry/"
              class="m-0 my-2 ml-12 block w-fit"
            >
              모노레포 구축 (Yarn Berry)
            </a>
            <li class="ml-6">배포 인프라(AWS) 및 기타</li>
            <p class="m-0 my-2 ml-12 block">
              zero-install 도입과 모노레포 빌드 병렬화를 통해 CI/CD 시간 단축
            </p>
            <a href="/posts/error-logging/" class="m-0 my-2 ml-12 block w-fit">
              에러 추적 환경 구축
            </a>
            <h4>바운스 Dashboard Web</h4>
            <li class="ml-6">
              Rechart와 antd Table을 활용한 여러 데이터 시각화
            </li>
            <li class="ml-6">Cookie 방식 로그인 구현</li>

            <h4>연합뉴스 통합 데이터분석 시스템 Web</h4>
            <li class="ml-6">
              Rechart와 antd Table을 활용한 여러 데이터 시각화
            </li>
          </ul>
        </div>
      </div>
      <Hr />
      <div>
        <h2 class="m-0">개인 & 팀 프로젝트</h2>
        <div>
          <h2 class="m-0">노래 맞추기 Audify</h2>
          <ul>
            <li class="ml-6">스택 : React, TypeScript, Recoil, Socket</li>
            <li class="ml-6">
              설명 : 소켓 채팅 기반 노래 맞추기 게임. 1인으로 기획부터 개발,
              Google Search Console, 애드센스 등록, 배포(AWS) 까지 진행. 소켓
              서버는 EC2, 웹 배포는 S3 + CloudFront로 진행. 노래 요청과 문의
              API는 AWS Lambda를 사용.
            </li>
          </ul>
          <img
            src={Audify.src}
            alt="St.kim"
            width={"100%"}
            class="mr-2 rounded-xl"
          />

          <a
            class="mb-10 mr-4 mt-2 rounded border px-2 py-1 font-bold no-underline outline-none"
            href="https://www.audify.kr">바로가기</a
          >

          <h2 class="my-3">Pet-hub</h2>
          <ul>
            <li class="ml-6">개발 기간 : 23.5.8 ~ 23.6.9</li>
            <li class="ml-6">개발 인원 : 프론트엔드 2, 백엔드 2</li>
            <li class="ml-6">스택 : NextJS, TypeScript, Recoil</li>
            <li class="ml-6">
              설명 : 프론트엔드 파트 리드, 전반적인 레이아웃과 커뮤니티 CRUD
              페이지 구현. JWT 를 활용한 소셜 로그인, 카카오 맵 연동을 통해 지도
              기능, 이미지 업로드, web scoket기반 채팅 기능 또한 구현. EC2 기반
              배포와 Github Actions를 통한 CI/CD도 구축.
            </li>
          </ul>
          <video controls>
            <source src={pethub} type="video/mp4" />
          </video>

          <h2 class="m-0">Data Visualization (Canvas API)</h2>
          <ul>
            <li class="ml-6">스택 : TypeScript, Tailwind CSS</li>
            <li class="ml-6">
              설명 : Canvas API를 통해 여러 데이터를 시각화하는 옴니버스식 토이
              프로젝트입니다.
            </li>
            <h2 class="m-0">빵빠레 애니메이션</h2>
            <img src={confettiImage.src} alt="confetti" />
            <Confetti client:load />
            <h2 class="m-0">서명</h2>
            <Signature client:load />
            <h2 class="m-0">오디오 시각화</h2>
            <AudioVisualizer client:load />
          </ul>
        </div>
      </div>
    </section>
    <Footer />
  </main>
</Layout>
